= simple_form_for @group, url: group_sign_up_path, method: :post do |f|
  = f.simple_fields_for :users do |u|
    = u.input :id, as: :hidden, input_html: { value: @group.id }
    = u.input :email, placeholder: 'user@domain.com'
    = u.button :submit, 'Записаться', class: 'btn btn-success'