h1 Название курса:
= @group.course.title
h2 Название группы:
= @group.title
h2 Дата старта группы:
= @group.start_date
h2 Статус:
= @group.status
h2 Колличество участников:
= @group.participants.count

br
- if user_signed_in?
  h2
  = render 'form'
- else
  p Чтобы присоединиться к группе войдите или зарегистрируйтесь
  
