= button_to "Сортировать по дате старта", root_path, class: "", params: { sort_by_data: true }, method: :get
- @courses.each do |course|
  h1 Название курса:
  = link_to course.title, group_path(course.group_id)
  h2 Дата начала:
  = course.start_date
  h2 Число участников:
  = course.total_participants
  hr